<header class="controller-details__header">
  <div class="container-fluid px-0">
    <div class="row align-items-start">
      <div class="col-12">
        <button type="button" class="controller-details__back-button">← Back to Controllers</button>
      </div>

      <div class="col-12 col-lg-8">
        <div class="controller-details__title-row">
          <h1 class="controller-details__title">Basement SHT35</h1>

          <span class="controller-details__status-badge"> Configured </span>
        </div>

        <p class="controller-details__subtitle">basement-001</p>
      </div>

      <div class="col-12 col-lg-4 d-flex justify-content-lg-end mt-4 mt-lg-0">
        <button type="button" class="btn-app-action" title="Open Controller Editor">
          <i class="bi bi-pencil-fill btn-app-action-icon"></i>
          <span class="btn-app-action-title">Edit Controller</span>
        </button>
      </div>
    </div>
  </div>
</header>
